/target/
.project
.classpath
.settings
.idea
*.iml
/shell/
/src/main/webapp/WEB-INF/classes/
/src/main/webapp/WEB-INF/lib/
*.code-workspace
/.vscode/
.factorypath
/src/main/webapp/static/exceptions/
/src/main/webapp/dist/
node_modules/
yarn-error.log
node/*
bin/
work/